body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.page-main {
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;

  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.main-header {
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation {
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;

  display: block;

  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 72px;
  padding: 0;

  list-style: none;
}

.main-menu > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 56px;
  padding: 15px 0;
}

.main-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu-item {
  width: 150px;

  vertical-align: middle;
}

.main-menu-items-left .main-menu-item {
  margin-right: 92px;

  text-align: left;
}

.main-menu-items-right .main-menu-item {
  margin-left: 92px;

  text-align: right;
}

.main-menu-item a {
  color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #81b3d2;
}

.main-menu a:active {
  color: rgba(0,0,0,0.3);
}

.main-menu-item-current a {
  color: #766357;
}

.main-menu-item-current a:hover,
.main-menu-item-current a:focus,
.main-menu-item-current a:active {
  color: #766357;
}

.banner-main {
  position: relative;

  width: 1200px;
  height: 508px;

  background-color: #727f89;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: top -85px center;
  background-size: cover;
  border-top: 1px solid transparent;
}

.banner-main .welcome-img {
  display: block;
  margin: 0 auto;
  margin-top: 77px;
}

.banner-frame {
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 1200px;
  height: 59px;

  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  border-left: 1px solid #ffffff;
}

.reasons {
  margin-bottom: 50px;

  text-align: center;

  background-color: #ffffff;
}

.page-title {
  width: 440px;
  margin: 60px auto 25px;
  padding: 0 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.reasons-title {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;

  line-height: 26px;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reason-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding: 50px 65px;

  text-align: center;

  background-color: #eeeeee;
}

.reason-item h3 {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.reason-item span {
  display: block;
  margin-bottom: 20px;
}

.reason-item p {
  margin: 0;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  min-height: 330px;
  padding: 20px 50px;
}

.feature-item::before {
  content: "";
  position: absolute;
  bottom: 198px;
  left: 50%;

  width: 80px;
  height: 80px;
  margin-left: -40px;

  background-repeat: no-repeat;
  background-position: center center;
}

.feature-item-1::before {
  background-image: url("../img/icon-1.png");
}

.feature-item-2::before {
  background-image: url("../img/icon-3.png");
}

.feature-item-3::before {
  background-image: url("../img/icon-2.png");
}

.feature-item h4 {
  margin: 145px 0 22px;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  margin: 0;
}

.reason-item-fullsize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding: 0;
}

.reason-column {
  width: 400px;
  padding: 50px 40px;

  color: #ffffff;

  background-color: #81b3d2;
}

.reason-column h3 {
  color: #ffffff;
}

.reason-img {
  display: block;
  width: 800px;
  height: 256px;

  -o-object-fit: cover;
     object-fit: cover;
}

.reason-item-fullsize:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.hotel-booking {
  text-align: center;
}

.hotel-booking h2 {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-booking p {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 45px;

  line-height: 24px;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 17px;

  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255,255,255,0.3);

  background-color: #503e33;
}

.btn-blue {
  background-color: #81b3d2;
}

.hotel-booking .btn {
  width: 568px;
  margin: 0 auto;
  padding: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-wrapper {
  position: relative;
}

.map {
  position: relative;

  width: 1200px;
  height: 594px;
}

.map-img,
.map iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 1200px;
  height: 594px;

  border: none;
}

.map-img {
  z-index: 0;

  display: block;
}

.map iframe {
  z-index: 1;
}

.main-footer {
  position: absolute;
  bottom: 0;
  z-index: 5;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  padding: 25px 80px;

  text-align: center;

  background-color: rgba(249,251,246,0.9);

  -ms-align-items: center;
}

.main-footer b {
  width: 240px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.main-footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 240px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social li {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: #81b3d2;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social .social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 100%;

  -ms-align-items: center;
}

.footer-social .social-btn:hover,
.footer-social .social-btn:focus {
  background-color: #669ec0;
}

.footer-social .social-btn:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.main-footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 240px;

  -ms-align-items: center;
}

.copyright span {
  margin-right: 8px;

  line-height: 26px;
  color: #000000;
}

.copyright-link {
  display: block;
  width: 115px;
  height: 41px;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 55px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0,1,1,0.15);
          box-shadow: 0 7px 15px 0 rgba(0,1,1,0.15);
  -webkit-transform: translateX(-50%)  translateY(0px) scaleY(1);
      -ms-transform: translateX(-50%)  translateY(0px) scaleY(1);
          transform: translateX(-50%)  translateY(0px) scaleY(1);
}

.modal-open {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.modal-close {
  -webkit-transform: translateX(-50%)  translateY(-50%)   scaleY(0);
      -ms-transform: translateX(-50%)  translateY(-50%)   scaleY(0);
          transform: translateX(-50%)  translateY(-50%)   scaleY(0);

  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

@-webkit-keyframes color-change {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    background-color: #ffffff;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    background-color: #ff0000;
  }
}

@keyframes color-change {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    background-color: #ffffff;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    background-color: #ff0000;
  }
}

.modal-error {
  -webkit-animation: color-change 0.3s;
          animation: color-change 0.3s;
}

.modal-booking-form .form-fields-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-booking-form .form-field {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 700;
  line-height: 26px;
  vertical-align: middle;
  color: #000000;
}

.modal-booking-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  margin-left: auto;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.modal-booking-form input[type="text"]:hover {
  background-color: #ededed;
}

.modal-booking-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.form-field .btn-calendar {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 22px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-calendar:hover path,
.btn-calendar:focus path {
  fill: #000000;
}

.btn-calendar:active path {
  fill: #81b3d2;
}

.form-field input[type="text"] {
  width: 346px;
  padding: 7px 13px;
  padding-right: 40px;
}

.visitors-amount-fields-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.visitors-amount-field {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;

  -ms-align-items: center;
}

.visitors-amount-field:last-child {
  margin-left: auto;
}


.visitors-amount-field input[type="text"] {
  width: 114px;
  margin-left: 40px;
  padding: 7px 38px;

  text-align: center;
}

.visitors-amount-field:last-child input[type="text"] {
  margin-left: 25px;
}

.visitors-amount-field .amount-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 38px;
  height: 38px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visitors-amount-field .amount-btn-minus {
  right: 76px;
}

.visitors-amount-field .amount-btn::before,
.visitors-amount-field .amount-btn-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.visitors-amount-field .amount-btn-plus::after {
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
      -ms-transform: translate(-50%,-50%) rotate(90deg);
          transform: translate(-50%,-50%) rotate(90deg);
}

.visitors-amount-field .amount-btn:hover::before,
.visitors-amount-field .amount-btn:focus::before,
.visitors-amount-field .amount-btn:hover::after,
.visitors-amount-field .amount-btn:focus::after {
  background-color: #000000;
}

.visitors-amount-field .amount-btn:active::before,
.visitors-amount-field .amount-btn:active::after {
  background-color: #81b3d2;
}

.modal-booking-form .btn {
  width: 100%;
  margin-top: 25px;
  padding: 15px 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255,255,255,0.3);

  background-color: #5496bd;
}

.inner-page .main-footer {
  position: static;

  background-color: #ffffff;
}

.search {
  padding: 27px 72px;

  color: #ffffff;

  background-color: #5f7484;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form fieldset {
  margin: 0;
  margin-right: 128px;
  padding: 0;

  border: none;
}

.search-form legend {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 16px;
}

.search-form-price:last-child legend {
  margin-bottom: 10px;
}

.search-form fieldset:last-child {
  margin-right: 0;
  margin-left: auto;
}

.search-form-checkbox-list,
.search-form-price-fields {
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-form-checkbox-list li {
  margin-bottom: 11px;
}

.search-form-checkbox-list li:last-child {
  margin-bottom: 0;
}

.search-form-checkbox-list label {
  position: relative;

  display: block;
  padding: 7px 0;
  padding-left: 40px;
}

.search-form-checkbox-list label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;

  width: 27px;
  height: 27px;
  margin-top: -7px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.search-form-checkbox-list label:hover {
  cursor: pointer;
}

.search-form-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.search-form-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-dis-off.svg");
}

.search-form-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-dis-on.svg");
}

.search-form-price-fields {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 314px;
  height: 32px;

  border: 2px solid #ffffff;
}

.search-form-price-fields li {
  margin-left: 65px;

  text-align: center;
}

.search-form-price-fields li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.search-form-price-fields li:last-child::after {
  display: none;
}

.search-form-price-fields input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.price-range {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 318px;
  height: 43px;
  padding: 20px 0;
}

.price-range .scale {
  width: 100%;
  height: 2px;

  background-color: rgba(255,255,255,0.3);
}

.price-range .bar {
  width: 83%;
  height: 2px;

  background-color: #ffffff;
}

.price-range .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 1;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-range .toggle-min {
  left: 0;
}

.price-range .toggle-max {
  left: 255px;
}

.price-range .toggle:hover {
  width: 22px;
  height: 22px;

  -webkit-transform: translate(-1px,-1px);
      -ms-transform: translate(-1px,-1px);
          transform: translate(-1px,-1px);
}

.search-form .btn {
  display: block;
  width: 137px;
  margin-top: 13px;
  margin-left: 85px;

  border: 2px solid #ffffff;
}

.search-form .btn:hover,
.search-form .btn:focus {
  color: #000000;

  background-color: #ffffff;
  cursor: pointer;
}

.search-result {
  padding: 0 72px;
}

.search-result-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.search-result-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -72px;

  width: 1200px;
  height: 1px;

  background-color: #e5e5e5;
}

.search-result h2 {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;

  -ms-align-items: center;
}

.sorting h3 {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 776px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 12px;
  line-height: 18px;

  -ms-align-items: center;
}

.sorting-list > li {
  margin-right: 33px;
}

.sorting-list li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.sorting-link a {
  color: rgba(0,0,0,0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-link a:hover,
.sorting-link a:focus {
  color: #81b3d2;
}

.sorting-link a:active {
  color: #000000;

  border-bottom: none;
}

.sorting-link-current a,
.sorting-link-current a:hover {
  color: #81b3d2;

  border-bottom: none;
}

.sorting-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 35px;
  height: 16px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-btn:hover path,
.sort-btn:focus path {
  fill: #000000;
}

.sort-btn:active path,
.sort-btn-current path,
.sort-btn-current:hover path {
  fill: #81b3d2;
}

.search-result-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.search-result-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 26px 0 30px;
}

.search-result-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -72px;

  width: 1200px;
  height: 1px;

  background-color: #e5e5e5;
}

.search-result-item .item-img {
  width: 135px;
  height: 90px;
  margin-right: 31px;
}

.search-result-item .btn {
  padding-top: 3px;
  padding-bottom: 3px;

  font-weight: 700;
}

.item-description h3 {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.item-description .title-link {
  color: #000000;
}

.item-description .title-link:hover,
.item-description .title-link:focus {
  color: #81b3d2;
}

.item-description .title-link:active {
  color: rgba(0,0,0,0.3);
}

.item-description .type-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 180px;
  margin: 0;
  margin-bottom: 13px;
}

.type-and-price b {
  font: inherit;
}
.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin-left: auto;
}

.rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  margin: 0;
  padding: 3px 0;

  list-style: none;
}

.rating-stars .star-on {
  width: 18px;
  height: 17px;
  margin-left: 5px;

  background-image: url("../img/star.png");
  background-position: center center;
}

.rating p {
  margin: 0;
  padding: 3px 12px;

  vertical-align: middle;
  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}